Package: io.github.rossistboss.quickmanualsub
Name: QuickManualSub
Depends: mobilesubstrate
Version: 1.1~beta
Architecture: iphoneos-arm
Description: Adds a manual sub button to Alien Blue
Maintainer: Andrew Hyatt <ahyattdev@icloud.com>
Author: Andrew Hyatt <ahyattdev@icloud.com>
Section: Tweaks
dev: andrewhyatt
